input {
    border-radius: 10px;
    border-color: indigo;
    
}
body {
    padding: 0;
    margin: 0 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    text-align: center;
    color: indigo;
}



.header {
    
    color: black;
    text-align: center;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.dark{
    background-color: gray;
}
.botao{
    display: inline-block;
    border-radius: 10px;

}
#usr {
    background-image: url(https://cdn-icons-png.flaticon.com/512/3772/3772344.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.3em;
    padding-left: 1.3em;
}